body {
  background: url('../images/login-background.jpg') no-repeat center center fixed;
  background-size: cover;
}

div.loginHeader{
    text-align:center;
    margin-bottom: 60px;
}

div.loginHeader h1{
    font-size: 60px;
    font-weight:bold;
    color: red;
    text-transform: uppercase;
    font-family:'Courier New', Courier, monospace;

}

div.loginHeader p{
    color: pink;
    font-size: 50px;
    margin: 0px;
    display: inline-block;
    text-transform: uppercase;

}

div.loginHeader p:after{
    content: '';
    display: block;
    height: 5px;
    background: #f685a2;
    margin: center;

}

div.loginBody form {
    margin: 0 auto;
    width: 450px;
    background: rgba(0,0,0,.5);
    padding: 50px;
    border: 2px solid #fff; 
    border-radius: 8px;
}

div.loginInputsContainer {
    margin-top: 30px;
}


div.loginInputsContainer label {
    display:block;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold;
    color: #fff;
}

div.loginInputsContainer input {
    height: 30px;
    width: 100%;
    border: 2px solid yellow;
    font-size:20px;
    padding: 5px;
    text-align: center;
    font-style: italic;
}

div.loginButtonContainer {
    margin-top: 40px;
    text-align:center;
}

div.loginButtonContainer button {
    font-size: 30px;
    padding: 10px 20px;
    background: #fff;
    border: none;
    color:black;
}

div#errorMessage{
    background:#fff;
    text-align:center;
    color: red;
    font-size: 20px;
    padding: 11px;
}